body {
  font-family: Arial;
  background: #FFFFFF;
  margin: 0px;
}

.header {
  display: flex;
  overflow: hidden;
  font-size: 15px;
  background: white;
  position: fixed; 
  top: 0;
  width: 100%;
  border-bottom: 1px solid #dedede;	
  text-shadow: 0 0 0.8px #FF0000;
}
.header > div {
  flex: 1; 
}

.centerDiv{
	margin-top: 16px;
    text-align: center;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 0 0 0.8px #FF0000;
	letter-spacing: 3px;
}

.header a {
    float: right;
    padding: 19px 8px;
	padding-right: 25px;
    text-decoration: none;
    font-size: 12px;
	font-weight: bold;
	text-shadow: 0 0 2px #ADD8E6;
}
	
.header input[type=text] {
    float: left;
    padding: 6px;
    border: none;
    margin-top: 12px;
    font-size: 15px;
	
}

.leftDiv{
	padding-left: 50px;
}

.row{
	margin-top: 52px;
}

.column {
    float: left;
}

.left {
    width: 25%;
}

.right {
    width: 75%;
	background-color: #F0F8FF;
	bottom: 0;
	right: 0;
	height:100%;
    content:' ';
	top: 53px;
    position: fixed;
}

.leftContainer {
	border-bottom: 1px solid #dedede;
	border-right: 1px solid #dedede;
    background-color: #FFFFFF;
    padding: 10px;
	border-collapse: collapse;
	height: 72px;
}

.leftContainer img {
	height: 50px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
	margin-top: 10px;
	margin-left: 10px;
}

.leftContainer span {
    font-size: 14px;
	font-weight: bold;
    margin-right: 15px;
	
}
.leftContainer .marginT10{
	margin-top: 12px
}

.leftContainer .timeSpan{
	float: right;
    font-size: 11px;
	margin-top: 3px;
    color: #00CED1;
}
.leftContainer p.msgContent{
	font-size: 13px;
    font-weight: bold;
    color: #00CED1;
	margin-top: -8px;
}

.leftContainer > p span.whiteColor{
	color: #FFFAF0;
}

.right_arrow_box {
	position: relative;
	background: #88b7d5;
}
.right_arrow_box:after, .right_arrow_box:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.right_arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #40E0D0;
	border-width: 9px;
    margin-top: -31px;
}
.right_arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-width: 36px;
	margin-top: -36px;
}

.arrow_box {
	position: relative;
	background: #88b7d5;
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #40E0D0;
	border-width: 9px;
    margin-top: -31px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-width: 36px;
	margin-top: -36px;
}

.leftContainer.selected{
	background-color: #1E90FF;
	box-shadow: 0 8px 46px -15px black;
	width: 97%;
    position: sticky;
    z-index: 1;
	border-radius: 0px 7px 7px 0px;
}

.container {
    padding: 10px;
	margin-left: 50px;
	margin-right: 50px;
}
.container .rightSpanMsg{
	border: 1px solid #dedede;
	font-weight: bold;
	font-size: 13px;
	padding: 13px 10px;
	margin-top: 3.5px;
}

.container > span p.msgColorLeft{
	color: #8B0000;
	background: #40E0D0;
}

.container > span p.msgColorRight{
	color: #BA55D3;
	background: #40E0D0;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    max-width: 50px;
	height: 46px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.imgMargin{
	margin-left: 22px;
}

.timing{
	color: #00CED1;
    font-size: 11px;
	font-weight: bold;
    float: right;
	margin-top: -10px;
}

.time-right {
    float: right;
    font-size: 11px;
}

.footer{
	display: flex;
	position: fixed;
    bottom: 0;
    width: 72.5%;
	padding: 15px;
    background-color: #FFFFFF;
	border: 1px solid #dedede;
}

.footer .footerRightDiv{
  flex: 1; 
}

.footerRightDiv{
	float: right;
	text-align: right;
	margin-top: 3px;
    font-size: 15px;
	font-weight: bold;
	text-shadow: 0 0 2px #ADD8E6;
}

.footerLeftDiv{
	width: 90%;
}

.footer a{
	text-decoration: none;
	margin-right: 15px;
}

.footer input[type=text] {
    float: left;
    border: none;
	outline: none;
    font-size: 18px;
	font-weight: bold;
	width: 100%;
}
.rightFloat > img,  .rightFloat > span {
	float: right;
}

.leftFloat > span {
	float: left;
}